/* .box1{
     color: brown;
     margin:100px;
     text-shadow: 100px 100px 1px red;
}
.box2{
    color: #000;
    border: salmon solid;
    text-shadow: 0px 0px 5px red;
} */
/* .box1{
    height: 200px;
    width: 300px;
    border: 100px
    
} */
